ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: pink;

}

.spacer {
  display: 1 1 auto;
}

.gap {
  margin-left: 46%;
}

.filler {
  flex: 1 1 auto;
}

.tp-button-row button,
.tp-button-row a {
  margin-left: 0px;
}

.example-form {
  margin-right: 0%;
  min-width: 100px;
  max-width: 350px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

mat-form-field {
  min-width: 100px;
  max-width: 350px;
}
